[Unit]
Description=One million sliders
After=network.target
Requires=one-million-sliders.socket
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/local/bin/one-million-sliders
ExecReload=/bin/kill -HUP $MAINPID
Environment=RUST_LOG=info
LimitNOFILE=200000
WorkingDirectory=/opt/one-million-sliders
User=one_million_sliders

NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
PrivateNetwork=yes
PrivateUsers=yes
DevicePolicy=closed
ProtectSystem=full
ProtectHome=true
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=none
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
